* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Roboto Slab', serif;
}

body {
  width: 100%;
  background-color: #bdc7b2;
}

a {
    color: inherit;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #444941;
    color: #FFF;
}

.nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.nav-logo img {
    height: 5vw;
    width: auto;
    margin: 0 2rem;
}

.nav-links {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li {
    margin-right: 2em;
}

header {
    display: flex;
    text-align: center;
    height: 30vw;
    padding: 1rem 0;
}

.header-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-content h1 {
    font-size: 70px;
}

#duck {
    display: flex;
    justify-content: space-between;
    height: 30vw;
    background-color: #e8ece3;
}

.duck-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.duck-left * {
    margin: 0 auto;
}

.duck-left p {
    width: 70%;
}

.duck-left button {
    padding: 10px 30px;
    background-color: #727a6d;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.duck-left button:hover {
    background-color: #494e46;
}

.duck-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.duck-right img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vw;
    width: 15vw;
}

#emergency {
    height: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #a3bea5;
    padding: 3rem 0;    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    width: 50%;
    margin: 0 auto;
}

.grid-item {
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.grid-item:hover {
    background-color: rgb(233, 240, 226);
    box-shadow: 5px 5px 5px rgba(0,0,0,.7);
    transform: translate(-3px, -3px);
    transition: transform .1s;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5F7A61;
    color: #FFF;
}

footer h2 {
    margin: 2rem 0;
}

footer input,
footer textarea {
    margin-bottom: 1.3rem;
    width: 30%;
}

footer textarea {
    resize: none;
}    

footer button {
    height: 2rem;
    width: 10rem;
}

.creator {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator > * {
    margin-bottom: 15px;
}